body{
    font-family: Georgia;/*fondi tüüp*/
    color: revert; /*teksti värv*/
}
h1{
    border: solid 1px revert; /*ääris*/
    padding: 10%; /*vahe tekstist ääriseni*/
    margin: 10px;
    border-radius: 60px;
    width: 60%;
    background-color: maroon;
}
h2{
    border: dotted 1px revert; /*dashed, outline, double, solid*/
    padding: 1%; /*vahe tekstist ääriseni*/
    margin: 10px; /*vahe veebilihe piirist ääriseni*/
    border-radius: 60px;
    width: 60%; /*laius*/
    background-color: maroon; /*tausta värv*/
}
ul{
    list-style-type: circle; /*markeri tüüp - square, */
    padding:5xp;
    background-color: tomato;
}
ul li{
    background-color: crimson;
    margin:5px;
}
table, td{
    width: 60%;
    border: solid 1px maroon;
    border-collapse: collapse; /*ühine ääris*/
    text-align: center; /*teksti joondamine keskele*/
    background-color: firebrick;
}
