 body{
    font-family: "Book Antiqua", sans-serif;
    color:saddlebrown;
    background-color: pink;
}

canvas{
    border: solid 4px saddlebrown;
    border-radius: 0px;
    width: 95%;
    background-color: pink;
}
 canvas#lipp{
     border: solid 1px saddlebrown;
     background-color: pink;
     border-radius: 1px;
     width: 90%;
 }
 canvas#puhi{
     border: solid 1px saddlebrown;
     background-color: #b6c7ff;
 }
 