body{
    font-family: Georgia, serif;
    font-size: 14px;
    background-color: pink; /*taust*/
}
input[type=text]{
    width: 50%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    background-color: saddlebrown;
    color: pink;
    font-weight: bold;
}
input[type=radio]{
    padding: 15px;
    background-color: pink;
    box-sizing: border-box;
    font-size: 30px;
    width: 5%;
}
select{
    width: 20%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    background-color: saddlebrown;
    color: pink;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
input[type=reset], input[type=button]{
    width: 20%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    background-color: saddlebrown;
    color: pink;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;

}