body{
    font-family: Georgia, serif;
    font-size: 14px;
    background-color: pink; /*taust*/
}
input[type=text]{
    width: 50%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    background-color: saddlebrown;
    color: pink;
    font-weight: bold;
}
input[type=radio]{
    padding: 15px;
    background-color: pink;
    box-sizing: border-box;
    font-size: 30px;
    width: 5%;
}
select{
    width: 40%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    background-color: saddlebrown;
    color: pink;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
input[type=reset], input[type=button]{
    width: 50%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
    background-color: saddlebrown;
    color: pink;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
table{
    width: 50%;
    padding: 10px; /*vähe tekstist äärseni*/
    border-collapse: collapse;
    border: 1px saddlebrown;
    margin: 5px; /*vahe lehes tabelini*/
}
td{
    padding: 10px;
    text-align: left;
}
input[type=checkbox] + label{
    display: inline-block;
    width: 60px;
    height: 21px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 25px;
    cursor: pointer;
    border: 1px saddlebrown;
}
input[type=radio] + label{
    display: inline-block;
    width: 32px;
    height: 21px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 25px;
    cursor: pointer;
    border: 1px saddlebrown;
}
