header h1{
    border: solid 1px revert; /*ääris*/
    padding: 3%; /*vahe tekstist ääriseni*/
    margin: 10px;
    border-radius: 60px;
    width: 60%;
    background-color: pink;
    letter-spacing: 0.1cm;
    font-variant: small-caps;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: saddlebrown;
}
li{
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: pink;
    padding: 10px;
}
li a:hover{  /*lingid fookuses*/
    background-color: saddlebrown;
}
footer{
    text-align: center;
    text-align: center;
    margin: auto;
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
section{
    text-align: center;
    margin: auto;
    background-color: pink;
    position: fixed;
    border-radius: 10px;


}
section h2{
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: rosybrown;
    color: saddlebrown;
}
li a:active {
    background-color: rosybrown; /* Цвет при нажатии */
}
